/* ===================================================================================
   Neutral colors
  =================================================================================== */
$color__white: #fff;

$color__neutral-1: #f8f8f8;
$color__neutral-2: #f0f0f0;
$color__neutral-3: #e5e5e5;
$color__neutral-4: #dededc;
$color__neutral-5: #ccc;
$color__neutral-6: #a3a5a7;
$color__neutral-7: #999;
$color__neutral-8: #6b6b6b;
$color__neutral-9: #404040;
$color__neutral-10: #333;
$color__neutral-11: #232222;

$color-transparent: hsla(0, 0%, 100%, 0);